<mat-tab-group>
    <mat-tab 
    label="Inicio"
    >
    <app-pantalla-inicio></app-pantalla-inicio>
  
    </mat-tab>
    <mat-tab
    label="Mascotas"
    >
    <app-tarjetas></app-tarjetas>
    

    </mat-tab>
   
    <mat-tab     
    label="Adopciones">
    <app-adopciones></app-adopciones>
    </mat-tab>

    <mat-tab
        label="Voluntarios"
    >
<app-voluntarios></app-voluntarios>
 

    </mat-tab>

    <mat-tab
        label="Sobre Nosotros"
    >
<app-sobrenosotros></app-sobrenosotros>

    </mat-tab>

    <mat-tab
        label="Contactos"
>
<app-contactos></app-contactos>
    </mat-tab>
    
</mat-tab-group>